<!DOCTYPE html>

<html>
<head>
    <title>FCC ISQA Project - Nasdaq Stock Price Checker</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
</head>

<body>
    <div id="title">
        <h6>Information Security and Quality Assurance Projects:</h6>

        <h1>04. Nasdaq Stock Price Checker</h1>
    </div><br>

    <div class="container">
      <div id="content">
        <div class="section">
          <div id="userstories">
            <h2>User Stories</h2>
            <ol class="user-stories">
              <li>Set the content security policies to only allow loading of scripts and css from your server.</li>
              <li>I can <b>GET</b> <code>/api/stock-prices</code> with form data containing a Nasdaq <i>stock</i> ticker and recieve back an object <i>stockData</i>.</li>
              <li>In <i>stockData</i>, I can see the <i>stock</i>(string, the ticker), <i>price</i>(decimal in string format), and <i>likes</i>(int).</li>
              <li>I can also pass along field <i>like</i> as <b>true</b>(boolean) to have my like added to the stock(s). Only 1 like per ip should be accepted.</li>
              <li>If I pass along 2 stocks, the return object will be an array with both stock's info but instead of <i>likes</i>, it will display <i>rel_likes</i>(the difference between the likes on both) on both.</li>
              <li>A good way to receive current price is the following external API(replacing 'GOOG' with your stock):<br> 
                <code>https://finance.google.com/finance/info?q=NASDAQ%3aGOOG <i style="background: #777; color: pink"> THE GOOGLE FINANCE API HAS BEEN DISCONTINUED!</i></code><br>
                I will use as an alternative the following Stock Exchange API Provider: <code>https://www.alphavantage.co</code>. 
              </li>
              <li>All 5 functional tests are complete and passing.</li>
            </ol>
          </div>
        </div> 
        
        <div class="section status" style="width: 967.5px">
          <div id="responseUi">
            <div class="output">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="svg-inline--fa fa-spinner fa-w-16 fa-spin fa-lg"><path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z" class=""></path></svg>
              <span>&#xa0; &#xa0;</span>
              <code id="jsonResult"></code>
            </div> 
          </div>
        </div>
        
        <div class="section" style="max-width: 645px">
          <h2 style="text-align: center">Example usage:</h2>
          <ol class="examples">
            <li><code>/api/stock-prices?stock=goog</code></li>
            <li><code>/api/stock-prices?stock=goog&amp;like=true</code></li>
            <li><code>/api/stock-compare?stock1=goog&amp;stock2=msft</code></li>
            <li><code>/api/stock-compare?stock1=goog&amp;stock2=msft&amp;like=true</code></li>
          </ol>
          <h2 style="text-align: center">Example return:</h2>
          <code>{"stockData":{"stock":"GOOG","price":"786.90","likes":1}}</code><br><br>
          <code>{"stockData":[{"stock":"MSFT","price":"62.30","rel_likes":-1},{"stock":"GOOG","price":"786.90","rel_likes":1}]}</code>
        </div>
        
        <div class="section">
          <div id="testui">
            <h2>Front-End:</h2>
            <h3>Get single price and total likes</h3>
            <div class="sub-section">
              <form id="testForm" class="border" action="/api/stock-prices" method="post">
                <input type="text" name="stock" placeholder="*Stock code" style="width: 130px">
                <input type="checkbox" name="like" value="true">Like?<br>
                <input type="submit" value="GET PRICE!">
              </form>
            </div>
            <h3>Compare and get relative likes</h3>
            <div class="sub-section">
              <form id="testForm2" class="border" action="/api/stock-compare" method="post">
                <input type="text" name="stock1" placeholder="*Stock code" style="width: 80px">
                <input type="text" name="stock2" placeholder="*Stock code" style="width: 80px"><br>
                <input type="checkbox" name="like" value="true">Like both?<br>
                <input type="submit" value="GET PRICE!">
              </form>    
            </div>
          </div>
        </div>
      </div>
      
      <div id="footer">    
        <h5>Designed and coded by <a href="https://github.com/Madness2aMaze" target="_blank" id="footbar" title="©2019 Cătălin Anghel-Ursu @Madness2aMaze - All Rights Reserved">@Madness2aMaze ©2019 - All Rights Reserved</a> | <a href="https://codepen.io/Madness2aMaze/"
          title="More of my works" target="_blank"><i class="fab fa-codepen"></i></a> | <a href="https://www.freecodecamp.com/" target="_blank" title="FreeCodeCamp"><i class="fab fa-free-code-camp"></i></a>
        </h5>
      </div>
      <!-- Your web-app is https, so your scripts need to be too -->
      <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous" type="text/javascript"></script>
      <script src="/public/client.js" type="text/javascript"></script>
  </div>
  </body>
</html>
